{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Se envió un mail con las instrucciones a seguir para recuperar la contraseña, si una cuenta tiene el mail ingresado.
		    Debería recibir las instrucciones en breve.
		  </p>
		  <p class="m-auto p-2">
		    Si no recibió el mail, aseguresé de que ingresó la dirección correcta,
		    y verifique su carpeta de spam
		  </p>
		  <p class="m-auto p-2 btn btn-primary w-100 py-2"><a href="{% url 'home' %}">Regresar al Inicio</a></p>
	</div>
</div>

{% endblock %}