{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- lo del feature -->
<div class="row featurette p-5 d-flex justify-content-center align-items-center align-self-center">
  <div class="col-md-7 order-md-1 text-left">
  	<h2 class="featurette-heading fw-normal lh-1">Enrique Rodríguez Lomba</h2>
    <p class="lead text-left px-4 ">
    Licenciado en Medicina y Cirugía por la Universidad Complutense de Madrid (2007-2013).<br>
    Formación en Dermatología y Venereología en Hospital General Universitario Gregorio Marañón, Madrid (2014-2018).<br>
    Completó su formación académica mediante un observership de 3 meses de duración en Westmead Hospital, Sydney (Australia) y en Sydney Melanoma Diagnostic Centre – Royal Prince Alfred Hospital, Sydney (Australia). También realizó un periodo de rotación externa en C. S. Sandoval donde se formó en el estudio y tratamiento de enfermedades de transmisión sexual.<br>
  </p>
  <p><a class="btn btn-secondary" style="background-color: #a370f7" href="{% url 'team_main' %}">&laquo; Volver</a></p>
  </div>
  <div class="col-md-5 order-md-2 ">
    <img class="featurette-image img-fluid" src="{% static 'media/m4_large.jpg' %}">
  </div>
</div>
<!-- fin del feature -->
{% endblock content %}