{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="col-lg-8">
  <!-- Three columns of text below the carousel -->
  <div class="row p-5 d-flex justify-content-center align-items-center align-self-center">
    <div class="col-lg-4  text-center align-middle px-4">
      
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/m1.jpg' %}">
      <h2 class="fw-normal">C. Manuel Carlevaro</h2>
      <p>Investigador Independiente<br>IFLySiB (CONICET, UNLP) GMG (UTN FRLP)<br> Argentina </p>

      <p><a class="btn btn-secondary" style="background-color: #a370f7" href="{% url 'team_single' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center align-middle px-4">
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/m2.jpg' %}">
      <h2 class="fw-normal">Enrique Lomba</h2>
      <p>Profesor de Investigación<br>CSIC (España) CSIC - España</p>
      <p><a class="btn btn-secondary" style="background-color: #a370f7" href="{% url 'team_single_2' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center align-middle px-4">
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/m3.jpg' %}">
      <h2 class="fw-normal">Camilo Julio Llamoza Torres</h2>
      <p>Facultativo Especialista de Aparato Digestivo</p>
      <p><a class="btn btn-secondary" style="background-color: #a370f7" href="{% url 'team_single_3' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
  <!-- Segunda fila con 2 personas -->
  <div class="row p-5 d-flex justify-content-center align-items-center align-self-center order-md-2">
    <div class="col-lg-4  text-center align-middle px-4">
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/m4.jpg' %}">
      <h2 class="fw-normal">Enrique Rodríguez Lomba</h2>
      <p>Médico Especialista en Dermatología Médico<br>Quirúrgica y Venereología</p>
      <p><a class="btn btn-secondary" style="background-color: #a370f7" href="{% url 'team_single_4' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center align-middle px-4">
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/m5.jpeg' %}">
      <h2 class="fw-normal">H. Ariel Alvarez</h2>
      <p>Docente Investigador<br>UNLP (JTP-DE) - Docente UNAJ (Prof. Adj.)</p>
      <p><a class="btn btn-secondary" style="background-color: #a370f7" href="{% url 'team_single_5' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center align-middle px-4">
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/m6.jpg' %}">
      <h2 class="fw-normal">Luciana M. Luque</h2>
      <p>Investigadora Independiente<br>CRUK Scotland Institute</p>
      <p><a class="btn btn-secondary" style="background-color: #a370f7" href="{% url 'team_single_6' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
  </div>
  <!-- /.row -->
</div>
{% endblock content %}