{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="col-lg-8">
  <!-- Three columns of text below the carousel -->
  <div class="row p-5 d-flex justify-content-center align-items-center align-self-center">
    <div class="col-lg-4  text-center align-middle px-4">
      
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/defaultuser.jpeg' %}">
      <h2 class="fw-normal">Miembro del Equipo 1</h2>
      <p>Breve descripción de la persona.</p>
      <p><a class="btn btn-secondary" href="{% url 'team_single' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center align-middle px-4">
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/defaultuser.jpeg' %}">
      <h2 class="fw-normal">Miembro del Equipo 2</h2>
      <p>Breve descripción de la persona.</p>
      <p><a class="btn btn-secondary" href="{% url 'team_single_2' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center align-middle px-4">
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/defaultuser.jpeg' %}">
      <h2 class="fw-normal">Miembro del Equipo 3</h2>
      <p>Breve descripción de la persona.</p>
      <p><a class="btn btn-secondary" href="{% url 'team_single_3' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
  <!-- Segunda fila con 2 personas -->
  <div class="row p-5 d-flex justify-content-center align-items-center align-self-center order-md-2">
    <div class="col-lg-4  text-center align-middle px-4">
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/defaultuser.jpeg' %}">
      <h2 class="fw-normal">Miembro del Equipo 4</h2>
      <p>Breve descripción de la persona.</p>
      <p><a class="btn btn-secondary" href="{% url 'team_single_4' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center align-middle px-4">
      <img class="image-thumbnail rounded-circle" width="140" height="140" src="{% static 'media/defaultuser.jpeg' %}">
      <h2 class="fw-normal">Miembro del Equipo 5</h2>
      <p>Breve descripción de la persona.</p>
      <p><a class="btn btn-secondary" href="{% url 'team_single_5' %}">Ver más &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
{% endblock content %}