{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- lo del feature -->
<div class="row featurette p-5 d-flex justify-content-center align-items-center align-self-center">
  <div class="col-md-7 order-md-1 text-left">
  	<h2 class="featurette-heading fw-normal lh-1">Camilo Julio Llamoza Torres</h2>
    <p class="lead text-left px-4 ">
    Camilo Julio Llamoza Torres se graduó con distinción en la facultad de medicina Alberto Hurtado de la Universidad Peruana Cayetano Heredia (1996-2003); cuyo programa formativo de 8 años incluía un año tanto de externado como otro de internado médico.<br>
    Obtuvo la homologación del respectivo título español de Licenciado en Medicina en el año 2004.<br>
    Se formó como especialista en Aparato Digestivo en el Hospital Universitario Reina Sofía de Córdoba, adquiriendo mayores habilidades clínicas y técnicas en todos los aspectos de las enfermedades del aparato digestivo, con particular interés en las enfermedades del hígado y técnicas de ultrasonografía.<br>
    Cuenta con el título de Máster en Investigación en Ciencias de la Salud por la Universidad de Córdoba, así como, el título de Doctor en Medicina por la Universidad de Murcia con la calificación sobresaliente “CUM LAUDE”.<br>
    Formó parte del equipo de especialistas de Aparato Digestivo del Hospital General Universitario Rafael Méndez en Lorca-Murcia hasta el año 2017.<br>
    Desde entonces forma parte del equipo de Aparato Digestivo en el Hospital Clínico Universitario Virgen de la Arrixaca, siendo sus principales áreas de interés las enfermedades del hígado y vías biliares; con especial mención en oncología hepática.<br>
  </p>
  <p><a class="btn btn-secondary" style="background-color: #a370f7" href="{% url 'team_main' %}">&laquo; Volver</a></p>
  </div>
  <div class="col-md-5 order-md-2 ">
    <img class="featurette-image img-fluid" src="{% static 'media/m3_large.jpg' %}">
  </div>
</div>
<!-- fin del feature -->
{% endblock content %}