{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- lo del feature -->
<div class="featurette p-5 d-flex justify-content-center align-items-center align-self-center">
  <div class="col-md-7 order-md-1 text-left">
  	<h2 class="featurette-heading fw-normal lh-1">Miembro del Equipo 1</h2>
    <p class="lead text-left px-4 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p><a class="btn btn-secondary" href="{% url 'team_main' %}">&laquo; Volver</a></p>
  </div>
  <div class="col-md-5 order-md-2 ">
    <img class="featurette-image img-fluid" width="500" height="500" src="{% static 'media/defaultimage.jpeg' %}">
  </div>
</div>
<!-- fin del feature -->
{% endblock content %}