{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- lo del feature -->
<div class="featurette p-5 d-flex justify-content-center align-items-center align-self-center">
  <div class="col-md-7 order-md-1 text-left">
  	<h2 class="featurette-heading fw-normal lh-1">C. Manuel Carlevaro</h2>
    <p class="lead text-left px-4 ">
      Soy Investigador Independiente en el Instituto de Física de Líquidos y Sistemas Biológicos (CONICET - UNLP), y también Profesor Titular en el Departamento de Ingeniería Mecánica de la Facultad Regional La Plata, Universidad Tecnológica Nacional, donde dirijo el Grupo de Materiales Granulares.<br>
      Me gradué de Licenciado en Física en la Universidad Nacional de Rosario en 1995, y luego obtuve el título de Doctor de la Facultad de Ciencias Exactas de la Universidad Nacional de La Plata, en 2002.<br>
      Me desempeñé como investigador en el Programa de Agronegocios y Alimentos de la Facultad de Agronomía de la Universidad de Buenos Aires (2001 - 2003), y luego trabajé en la Autoridad Regulatoria Nuclear (2003 - 2007), hasta mi ingreso como Investigador en Consejo Nacional de Investigaciones Científicas y Técnicas (CONICET).<br>
  </p>
  <p><a class="btn btn-secondary" style="background-color: #a370f7" href="{% url 'team_main' %}">&laquo; Volver</a></p>
  </div>
  <div class="col-md-5 order-md-2 ">
    <img class="featurette-image img-fluid" width="500" height="500" src="{% static 'media/m1_large.jpg' %}">
  </div>
</div>
<!-- fin del feature -->
{% endblock content %}