<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>este es el título</title>
	{% if request.user.is_authenticated %}
		<p>Hello {{reuqest.user.username}} | <a href="{% url 'logout' %}">Logout</a></p>
	{% else %}
		<p><a href="{% url 'logout' %}">Register | </a><a href="{% url '#' %}">Login</a></p>
	{% endif %}
	<hr>
</head>
<body>
	{% block content %}
	{% endblock content %}
</body>
<footer>
	<hr>
	<p>este es el footer</p>
</footer>
</html>