<!DOCTYPE html>
<html>
<head>
	<title>Proyecto De Tesis</title>
	
	{% include 'snippets/header.html' %}
</head>
<body>
	<!-- ---------------------------Start Body -->
	<style type="text/css">
		.main{
			min-height: 100vh;
			height: 100%;
			background-color: #ADB5BD;
		}
	</style>
	<div class="main d-flex justify-content-center align-items-center">
		{% block content %}
		{% endblock content %}	
	</div>
	<!-- ---------------------------End Body -->
	{% include 'snippets/footer.html' %}
</body>
</html>