{% extends 'base.html' %}

{% block content %}
{% load static %}
<style type="text/css">
.form-signin {
  max-width: 930px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="date"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="number"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.h3{
	text-align: center;
}
.textarea{
    resize: vertical;
    width: 100%;
}
</style>
<!-- form-signin w-100 h-25 m-auto -->

<main class="container">
  <div class="row">
    <div class="h3"  style="margin-bottom: 30px;"> Cargar Paciente </div>  
  </div>

  <div class="row d-flex justify-content-center align-items-center align-self-center">
    
    <div class="col-sm-4">
      <p class="d-flex p-3 px-4 align-items-center border rounded border-dark" style="background-color: #AEFDE5;">
        Carga de Pacientes<br>
        En este formulario se cargarán los datos del paciente. Para esto se deberán llenar los campos utilizando la información correspondiente.<br>
        Para este proceso también se requiere que se cargue un formulario de consentimiento. <br>
      </p>
    </div>
    <div class="col-sm-4">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary w-100 py-2" style="background-color: #a370f7"  type="submit">Cargar Paciente</button>
      </form>
    </div>
    <div class="col-sm-4">
      <p class="d-flex row p-3 px-4 align-items-center border rounded border-dark" style="background-color: #F5F2A1;">
        Formulario de Consentimiento<br>
        <br>
        Es nuestro compromiso respetar la privacidad de todas las persona involucradas en este proyecto de investigación. Es por esto esto solicitamos que todos los datos de los pacientes sean acompañados por un formulario de consentimiento firmado por el paciente.<br>
        <br>
        Cargar Formulario de Consentimiento:<br>
        <button class="btn btn-primary w-100 py-2">Archivo</button>
      </p>
      <p class="d-flex row p-3 px-4 align-items-center border rounded border-dark" style="background-color: #F5F2A1;">
        ¿No tiene el formulario? Descargalo en el siguiente enlace: <br><br>
        <a href="{% static 'media/form_consent.pdf' %}" target="_blank" rel="noopener noreferrer" >Formulario de Consentimiento</a><br>
        Para más información acerca el uso de los datos de los pacientes, consulte nuestra página de información.<br>
      </p>
    </div>

  </div> <!-- esto es la linea-->
</main>

{% endblock content %}