{% extends 'base.html' %}

{% block content %}
<style type="text/css">
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="date"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="number"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.h3{
	text-align: center;
}
.textarea{
    resize: vertical;
    width: 90%;
}
</style>
<main class="form-signin w-100 h-25 m-auto">
	<h1 class="h3 mb-3 fw-normal">Cargar Paciente</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-primary w-100 py-2" style="background-color: #a370f7"  type="submit">Cargar Paciente</button>

	</form>
</main>

{% endblock content %}