{% extends 'base.html' %}

{% block content %}
<style type="text/css">
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.h3{
	text-align: center;
}
</style>
<div class="table-responsive small">
	<table class="table table-striped table-sm">
		<thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Alias</th>
        <th scope="col">Sexo</th>
        <th scope="col">Raza</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Edad</th>
        <th scope="col">Peso (Kg.)</th>
        <th scope="col">Altura (Cm.)</th>
        <th scope="col">Más</th>
      </tr>
    </thead>
    <tbody>
    	{% for paciente in listapacientes %}
    	<tr>
				<td class="text-center align-middle">{{paciente.id}}</td>
				<td class="text-center align-middle">{{paciente.alias}}</td>
				<td class="text-center align-middle">{{paciente.sexo}}</td>
        <td class="text-center align-middle">{{paciente.raza}}</td>
				<td class="text-center align-middle">{{paciente.nacimiento}}</td>
				<td class="text-center align-middle">{{paciente.edad}}</td>
				<td class="text-center align-middle">{{paciente.peso}}</td>
				<td class="text-center align-middle">{{paciente.altura}}</td>
				<td class="text-center align-middle">
					<a href="{% url 'datos_paciente' paciente.id %}">Más</a>
				</td>
    	</tr>
    	{% endfor %}
    </tbody>
	</table>
</div>


{% endblock content %}