{% extends 'base.html' %}

{% block content %}

<style type="text/css">
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.h3{
	text-align: center;
}
</style>
<main class="form-signin w-100 m-auto">
  <form method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Contacto</h1>
    <h6 class="h6 mb-3 text-center">Si tienes interés en el proyecto y te gustaría contactarte con el equipo, completa los siguientes campos y te responderémos a la brevedad.</h1>
	<input type="text" name="name" class="form-control" id="floatingInput" placeholder="Nombres" required autofocus>
	<input type="text" name="lastname" class="form-control" id="floatingInput" placeholder="Apellidos" required>
	<input type="email" name="email" class="form-control" id="floatingInput" placeholder="correo@ejemplo.com" required>
	<textarea name="message" class="form-control" id="floatingInput" placeholder="Dinos el motivo de tu mensaje" required></textarea>
	
	{% for field in registration_form %}
		{% for error in field.errors %}
			<p style="color: red;">{{error}}</p>
		{% endfor %}
	{% endfor %}
	{% if registration_form.non_field_errors %}
		<div style="color:red;">
			<p>{{registration_form.non_field_errors}}</p>
		</div>
	{% endif %}
    {% if success_message %}
		<p style="color:green; text-align:center;">{{success_message}}</p>
	{% endif %}
	<p></p>
    <button class="btn btn-primary w-100 py-2" style="background-color: #a370f7" type="submit">Enviar Datos</button>
  </form>
  <!--
  <p><a class="btn btn-secondary " href="{% url 'home' %}" style="margin-top: 10px;">&laquo; Volver</a></p>
-->
</main>

{% endblock content %}