{% extends 'base.html' %}

{% block content %}
<div class="container">
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  {{ message }}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			
		{% endfor %}
	{% endif %}
	<form method="POST">
	{% csrf_token %}	
		<div class="row p-2">
			<!-- id del médico 
			<input type="hidden" name="medico" placeholder="Alias" class="form-control" id="floatingInput" value="{{ request.user }}" required>
			-->
			<!-- Paciente -->
			<input type="text" name="aliaspaciente" id="numeroId" value="estoeselid" readonly hidden> <!-- obetngo el alias -->
			<div class="card col">
			  <div class="card-body">
			    <h5 class="card-title" >Seleccionar Paciente</h5>
			    <h6 class="card-subtitle mb-2 text-body-secondary">Elija un paciente</h6>
			    <select style="margin-bottom: 10px;" name="paciente" class="form-control" id="PacientesAlias" required readonly>
			    		<option>Desplegar</option>
			    	{% for paciente in listapacientes %}
			      	<option value="{{paciente.id}}" id="{{paciente.id}}" placeholder="{{paciente.alias}}">{{paciente.alias}}</option>
			      	{% endfor %}
			    </select>
			  </div>
			</div>
			<div class="card col">
			  <div class="card-body">
			    <h5 class="card-title">Agregar Notas</h5>
			    <h6 class="card-subtitle mb-2 text-body-secondary">Para tener en cuenta para la simulación</h6>
			    <textarea name="comentario" id="comentario" rows="4" cols="52"></textarea>
			    <!--
			    	
			    	<input type="text" name="comentario" id="cometario" rows="4" cols="50">
			    -->
			    <p></p>
			  </div>
			</div>
		</div>
		<div class="row p-2">
			<div class="card ">
			  <div class="card-body">
			    <h5 class="card-title" >Estudios Anexados</h5>
			    <h6 class="card-subtitle mb-2 text-body-secondary">Por favor verifique que la información anexada sea correcta.</h6>
			    <div >
				    {% for estudio in listaestudios %} <!-- tiene id texto para el eventlistener -->
				    	<a id="texto" href="{{estudio.archivo.url}}" target="_blank" rel="noopener noreferrer" class="card-link" name="listatexto">{{estudio.paciente}} - {{estudio.tipoEstudio}}</a>
				    	<br>
				    {% endfor %}	
			    </div>
			  </div>
			</div>
		</div>
		<div class="row p-2 justify-content-center align-items-center align-self-center">
			<button class="btn btn-primary" style="background-color: #a370f7" type="submit">Enviar Datos</button>	
		</div>
	</form>
	<script type="text/javascript">
		const textoEstudios = document.getElementById("texto");
		const searchInput = document.getElementById("PacientesAlias");
		//const rows3 = document.querySelectorAll('a');
		const rows3 = document.getElementsByName('listatexto');
		//el listener para esconder elementos
		searchInput.addEventListener("change", function (event){
			const idpaciente = event.target.value.toLowerCase(); //obentgo la opción seleccionada el id del paciente
			const aliaspaciente = document.getElementById(idpaciente).getAttribute("placeholder"); //obtengo el alias del paciente
			console.log("ID: ",idpaciente," Alias: ",aliaspaciente);
			const minusaliaspaciente = aliaspaciente.toLowerCase(); //pongo en minúsculas el alias
			const checks = document.getElementsByName("listatexto");
			const cantidadchecks = checks.length;
			console.log(rows3);
			//esconde el div
			rows3.forEach((row3)=>{ //por cada checkbox
				if(row3.textContent.toLowerCase().includes(minusaliaspaciente)){ //si es el paciente dejo el style como está
					row3.style.display = "";
				} else { //si NO es el paciente escondo los elementos y los uncheck
					for (var i = 0; i < cantidadchecks;  i++) {
						checks[i].checked = false;
					};
					(row3.style.display = "none");
				}
			});
		});
	</script>
</div>


{% endblock content %}