{% extends 'base.html' %}

{% block content %}
<style type="text/css">
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="date"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="number"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.h3{
	text-align: center;
}
</style>
<main class="form-signin w-100 m-auto ">
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  {{ message }}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			
		{% endfor %}
	{% endif %}
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<h1 class="h3 mb-3 fw-normal">Cargar Estudio</h1>
		<input type="text" name="aliaspaciente" id="numeroId" value="estoeselid" readonly hidden> <!-- obetngo el alias-->
		<label>Elija un Paciente</label>
		<select style="margin-bottom: 10px;" type="text" name="paciente" placeholder="Alias Paciente" class="form-control" id="PacientesAlias"  required>
			<option>Desplegar</option>
			{% for paciente in listapacientes %}
			<option value="{{paciente.id}}" id="{{paciente.id}}" placeholder="{{paciente.alias}}">{{paciente.alias}}</option> <!-- obetngo el id -->
			{% endfor %}
		</select>
		{{ form.tipoEstudio.label }}
		{{ form.tipoEstudio }}
		<br>
		<label>Cargar Archivo</label>
		<div style="margin-bottom: 10px;" class="d-flex justify-content-center">
			<div style="margin-bottom: 10px;" class="d-flex justify-content-center">
				<button type="button" style="display:block;width:120px; height:30px;" onclick="document.getElementById('getFile1').click()">Archivo</button>
				<input name="archivo" type='file' id="getFile1" style="display:none">
			</div>
		</div>
		{{ form.comentario.label }}
		{{ form.comentario }}
		<br>
		<button class="btn btn-primary w-100 py-2" style="background-color: #a370f7"  type="submit">Cargar Estudio</button>
	</form>
</main>

{% endblock content %}