{% extends 'base.html' %}

{% block content %}
<style type="text/css">
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="date"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="number"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.h3{
	text-align: center;
}
</style>
<main class="form-signin w-100 m-auto ">
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  {{ message }}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			
		{% endfor %}
	{% endif %}
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<h1 class="h3 mb-3 fw-normal">Cargar Estudio</h1>
		<input type="text" name="aliaspaciente" id="numeroId" value="estoeselid" readonly hidden> <!-- obetngo el alias-->
		<label>Elija un Paciente</label>
		<select style="margin-bottom: 10px;" type="text" name="paciente" placeholder="Alias Paciente" class="form-control" id="PacientesAlias"  required>
			<option>Desplegar</option>
			{% for paciente in listapacientes %}
			<option value="{{paciente.id}}" id="{{paciente.id}}" placeholder="{{paciente.alias}}">{{paciente.alias}}</option> <!-- obetngo el id -->
			{% endfor %}
		</select>
		<!--
		{{ form.paciente.label }}
		{{ form.paciente }}
	-->
		{{ form.tipoEstudio.label }}
		{{ form.tipoEstudio }}
		<br>
		<label>Cargar Archivo</label>
		<div style="margin-bottom: 10px;" class="d-flex justify-content-center">
			<div style="margin-bottom: 10px;" class="d-flex justify-content-center">
				<button type="button" style="display:block;width:120px; height:30px;" onclick="document.getElementById('getFile1').click()">Archivo</button>
				<input name="archivo" type='file' id="getFile1" style="display:none">
			</div>
		</div>
		{{ form.comentario.label }}
		{{ form.comentario }}
		<br>
		<!-- esto es medico 
		<input type="hidden" name="medico" placeholder="srqerqer" class="form-control" id="floatingInput" value="{{ user.username }}" required>

		 esto es paciente 
		<input type="text" name="aliaspaciente" id="numeroId" value="estoeselid" readonly hidden>  obetngo el alias
		<label>Elija un Paciente</label>
		<select style="margin-bottom: 10px;" type="text" name="paciente" placeholder="Alias Paciente" class="form-control" id="PacientesAlias"  required>
			<option>Desplegar</option>
			{% for paciente in listapacientes %}
			<option value="{{paciente.id}}" id="{{paciente.id}}" placeholder="{{paciente.alias}}">{{paciente.alias}}</option>  obetngo el id 
			{% endfor %}
		</select>

		 esto es tipo de estudio 
		<label>Elija un Tipo de Estudio</label>
		<select style="margin-bottom: 10px;" name="tipoEstudio" class="form-control" id="floatingInput" required>
		  <option value="Biopsia">Biopsia</option>
		  <option value="Análisis de Sangre">Análisis de Sangre</option>
		  <option value="Resonancia Magnetica">Resonancia Magnetica</option>
		</select>
		
		 esto es carga de archivos 
		<label>Cargar PDF </label>
		<div style="margin-bottom: 10px;" class="d-flex justify-content-center">
			<div style="margin-bottom: 10px;" class="d-flex justify-content-center">
				<button type="button" style="display:block;width:120px; height:30px;" onclick="document.getElementById('getFile1').click()">Archivo PDF</button>
				<input name="archivo" type='file' id="getFile1" style="display:none" accept="application/pdf">
			</div>
		</div>
		<label>Cargar Imagen </label>
		<div style="margin-bottom: 10px;" class="d-flex justify-content-center">
			<div style="margin-bottom: 10px;" class="d-flex justify-content-center">
				<button type="button" style="display:block;width:120px; height:30px;" onclick="document.getElementById('getFile2').click()">Imagen</button>
				<input name="imagen" type='file' id="getFile2" style="display:none" accept="image/*">
			</div>
		</div>
		-->
		<button class="btn btn-primary w-100 py-2" style="background-color: #a370f7"  type="submit">Cargar Estudio</button>
	</form>
	<!--
	<script type="text/javascript">
		const searchInput = document.getElementById("PacientesAlias");
		searchInput.addEventListener("change", function (event){
			//console.log(event)
			const q = event.target.value.toLowerCase();
			const e = document.getElementById(q).getAttribute("placeholder")
			//const w = document.getElementById("PacientesAlias").getAttribute("value")
			console.log(q)
			console.log(e)
			document.getElementById("numeroId").setAttribute('value',e)
		});
	</script>-->
</main>

{% endblock content %}